export LLM_API_KEY= # insert your OpenAI API key
export LLM_PROVIDER=litellm
export LLM_MODEL=qwen3-14b
#export LLM_MODEL=deepseek-r1-distill-qwen-14b
export LLM_BASE_URL=https://litellm-prod.apps.maas.redhatworkshops.io/v1
