export LLM_API_KEY= # insert your OpenAI API key
export LLM_PROVIDER=openai
export LLM_MODEL=gpt-5.4
#export LLM_MODEL=gpt-5.4-mini
#export LLM_MODEL=gpt-5.4-nano
export LLM_BASE_URL=https://api.openai.com/v1
